h1 {
  color: rgb(47, 0, 255);
}

p {
  font-size: 30px;
}

.intro {
  color: red;
}

.content {
  background-color: rgb(212, 185, 185);
  padding: 20px;
  margin: 20px;
  border: 15px dashed red;
  /* border-width: 15px;
  border-style: double;
  border-color: blue; */
}

.content h1 {
  color: cyan;
}

div h1 {
  font-size: 380%;
}